.flex-container{
    text-align: center;
    position: relative;
    right: 0.5cm;
}

#topicname{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkblue;
    position: relative;
    top: 1cm;
    text-decoration-line: underline;

}

#vegetableSaladImage{
       width:550px;
       height: 300px;
       position:relative ;
       top: 1.5cm;
       display: inline;
       border: 5px solid red;

}

#benefits{
    position: relative;
    top: 1cm;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

#benefitsParagraph{
      position: relative;
      top: 30px;
      font-size: smaller;

}

#steps{
     position: relative;
     font-size: large;
     top: 1cm;
     color: dar;
}

#stepForVegetableSalad{
    position: relative;
    top: 1cm;
    list-style:  inside;
    color: darkred;

}

#footerText{
     color: crimson;
}
